.App {
  max-width: 700px;
  margin: 0 auto; 
  padding: 20px;
  font-family: Arial, sans-serif;
  /* text-align: center; */
}

.dropdown-block {
  margin: 20px 0;
}

select{
  border-radius: 5px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
}

.problem-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 15px;
  background: #f3f6ff;
}


.example{
  margin-bottom: 15px;
}

.examples button{
  margin: 5px;
  padding: 4px 8px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.input-block{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.execute-btn{
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}

.output-block{
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
